<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ConnectingIslamabad"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Activities.Profile.ChangePassword"
            android:exported="false" />
        <activity
            android:name=".test"
            android:exported="false"
            android:label="@string/title_activity_test"
            android:theme="@style/Theme.ConnectingIslamabad" />
        <activity
            android:name=".Activities.Form.FeedbackActivity"
            android:exported="true" />
        <activity
            android:name=".ReviewTest.ReviewActivity"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBZZ5XwQ8l5lmzdophWP9N-lN3uHI7Caj0" />

        <activity
            android:name=".MapFragment"
            android:exported="false" />
        <activity
            android:name=".RatingActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.Profile.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.DbTest.TestDB"
            android:exported="false" />
        <activity
            android:name=".Activities.Authentication.SignIn.SigninActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Authentication.SignUp.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Category.MustvisitCatActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Category.Detail.DetailMustvisitCatActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Category.Detail.DetailMarketCatActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Category.MarketCatActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Category.Detail.DetailMuseumCatActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Category.MuseumCatActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Category.Detail.DetailPopularCatActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Category.Detail.DetailFoodCatActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Category.PopularCatActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Category.FoodCatActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Transport.DetailActivityTransport"
            android:exported="false" />
        <activity
            android:name=".Activities.Setting.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Transport.TransportActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Category.CategoryActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Main.DetailActivity"
            android:exported="false" /> <!-- 1st Screen -->
        <activity
            android:name=".Activities.IntroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".Activities.Main.MainActivity"
            android:exported="true">

        </activity>
    </application>

</manifest>